html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
section:nth-child(odd) {
	background: #fff;
}
section:before {
	content: attr(data-text);
	color: #000;
	font-size: 32px;
	font-weight: bold;
}
ul {
	width: 60%;
	height: 70px;
	font-weight: bold;
	margin-left: 40%;
	padding: 0;
	position: fixed;
	margin-top: 20px;
	letter-spacing: 0;
	display: flex;
	text-transform: uppercase;
	justify-content: space-around;
}
ul li {
	list-style: none;
}
ul li a {
	color: #000;
	line-height: 70px;
	box-sizing: border-box;
	text-transform: uppercase;
	text-decoration: none;
}
.sec2 {
	background-image: linear-gradient(rgba(26, 26, 26, 0.25), rgba(26, 26, 26, 0.25));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}